* {
    font-size: 20px;
    text-align: center;
    font-family: "Jua";
    background-color: #316B83;
    color: white;
}

@font-face {
    font-family: "Jua";
    src: url(Jua/Jua-Regular.ttf);
}

h1 {
    font-size: 40px;
    padding: 30px;
}

h3 {
    padding: 10px;
}

.test_dor {
    border: 1px solid #316B83;
}

.t1_modal {
    display: none;
}

.t2_modal {
    display: none;
    position: relative;
    left: 33.8%;
}

.t3_modal {
    display: none;
}

.t4_modal {
    display: none;
}

.t5_modal {
    display: none;
}

#t6_modal {
    display: none;
}

.t7_modal {
    display: none;
}

.t8_modal {
    display: none;
}

.t9_modal {
    display: none;
}

.t10_modal {
    display: none;
}

.노동3권 {
    position: relative;
    left: 34%;
}

.pdt_span {
    position: relative;
    left: 23%;
}

.production_Cost {
    position: relative;
    left: 25%;
}

input {
    width: 30%;
}

select {
    border: 1px solid black;
    border-radius: 5px;
}

#cap1 {
    position: relative;
    left: 92%;
}