* {
    font-size: 20px;
    text-align: center;
    font-family: "Jua";
    background-color: #316B83;
    color: white;
}

@font-face {
    font-family: "Jua";
    src: url(Jua/Jua-Regular.ttf);
}

h1 {
    font-size: 40px;
    padding: 30px;
}

h3 {
    padding: 10px;
}

.test_dor {
    border: 1px solid #316B83;
}

.t1_modal , .t2_modal , .t3_modal , .t4_modal ,
.t5_modal , #t6_modal , .t7_modal , .t8_modal ,
.t9_modal , .t10_modal , .t11_modal , .t12_modal,
.t13_modal , .t14_modal , .t15_modal , .t16_modal,
.t17_modal , .t19_modal , .t18_modal , .t20_modal ,
.t21_modal , .t22_modal , .t23_modal , .t24_modal ,
.t25_modal , .t26_modal , .t27_modal , .t28_modal
{
    display: none;
}

.t2_modal {
    position: relative;
    left: 33.8%;
}

.노동3권 {
    position: relative;
    left: 34%;
}

.pdt_span {
    position: relative;
    left: 23%;
}

.production_Cost {
    position: relative;
    left: 25%;
}

input {
    width: 30%;
    border-radius: 8px;
}

select {
    border: 1px solid black;
    border-radius: 5px;
}

#cap1 {
    position: relative;
    left: 92%;
}